.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: $lightModeElements;
  color: $lightModeText;
  p {
    font-weight: 700;
    font-size: 20px;
  }
}
