.input-div-light {
  background-color: $bgLightMode;
  padding: 50px;
  .filter-country-light {
    width: 320px;
    border: none;
    background-color: $lightModeElements;
    color: $lightModeText;
  }
  .filter-dropdown {
    width: 160px;
    .ant-select-selector {
      background-color: $lightModeElements !important;
      color: $lightModeText;
    }
  }
}
.input-div-dark {
  background-color: $bgDarkMode;
  padding: 50px;
  .filter-country-dark {
    width: 320px;
    border: none;
    background-color: $darkModeElements;
    color: $darkModeText;
  }
  .filter-dropdown {
    width: 160px;
    background-color: $bgDarkMode;
    .ant-select-selector {
      background-color: $darkModeElements !important;
      color: $darkModeText;
    }
  }
}
.filter-option-light {
  background-color: $lightModeElements;
  color: $lightModeText;
}
.filter-option-dark {
  background-color: $darkModeElements;
  color: $darkModeText !important;
}
.all-countries-light {
  background-color: $bgLightMode;
}
.all-countries-dark {
  background-color: $bgDarkMode;
}
.country-style {
  width: 240px;
  margin: 20px 0px 20px 50px;
  .country-card-light {
    background-color: $lightModeElements;
    color: $lightModeText;
  }
  .country-card-dark {
    background-color: $darkModeElements;
    color: $darkModeText;
  }
}
.country-name {
  font-size: 16px;
  font-weight: bold;
}
.country-detail {
  font-size: 12px;
}
