$bgLightMode: hsl(0, 0%, 90%);
$bgDarkMode: hsl(207, 26%, 17%);
$darkModeElements: hsl(209, 23%, 22%);
$lightModeElements: hsl(0, 0%, 100%);
$lightModeText: hsl(200, 15%, 8%);
$darkModeText: hsl(0, 0%, 100%);
$lightModeInput: hsl(0, 0%, 52%);
@mixin flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
