#root {
  min-height: 100vh;
  background-color: hsl(0, 0%, 90%);
}
.input-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 90%);
}
.filter-country {
  border: none;
  width: 300px;
  height: 16px;
  padding: 10px;
  background-color: hsl(0, 0%, 90%);
  margin: 50px;
}
.filter-dropdown {
  border: none;
  width: 140px;
  height: 40px;
  margin: 50px;
  padding: 10px;
  background-color: hsl(0, 0%, 90%);
}
.all-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.country-style {
  width: 200px;
  margin: 50px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}
.country-name {
  font-size: 20px;
  font-weight: bold;
}
.country-detail {
  line-height: 8px;
  font-size: 12px;
}
.back-button {
  background-color: hsl(0, 0%, 90%);
  width: 100px;
  height: 32px;
  border-radius: 6px;
  border: none;
  margin: 50px 0px;
}
.single-country {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 90%);
}
.single-country-detail {
  max-width: 400px;
}
.singleCountry-detail {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.border-name {
  margin: 10px 10px;
  width: 70px;
  height: 20px;
  border-radius: 6px;
  border: none;
  background-color: hsl(0, 0%, 90%);
}
