body {
  /* background-color: hsl(207, 26%, 17%); */
}
.header {
  display: flex;
  justify-content: space-between;
  /* background-color: hsl(209, 23%, 22%); */
  padding: 0px 50px;
}
.input-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 50px; */
}
.filter-country {
  border: none;
  width: 300px;
  height: 16px;
  padding: 10px;
  /* background-color: hsl(209, 23%, 22%); */
  margin: 50px;
}
.filter-dropdown {
  border: none;
  width: 140px;
  height: 40px;
  margin: 50px;
  padding: 10px;
  /* background-color: hsl(209, 23%, 22%); */
}
.all-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.country-style {
  width: 200px;
  margin: 50px;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}
.country-name {
  font-size: 20px;
  font-weight: bold;
}
.country-detail {
  line-height: 8px;
  font-size: 12px;
}
.back-button {
  /* background-color: hsl(209, 23%, 22%); */
  width: 100px;
  height: 32px;
  border-radius: 6px;
  border: none;
  margin: 50px 0px;
}
.single-country {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: solid 2px red; */
  /* flex-basis: 80%; */
}
.singleCountry-detail {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.border-name {
  margin: 10px 10px;
  width: 70px;
  height: 20px;
  border-radius: 6px;
  border: none;
}
